@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

html {
  scroll-behavior: smooth;
}

/* Adiciona uma transição suave ao hover dos links */
a {
  transition: all 0.2s ease-in-out;
}

/* Estilo para o scroll suave */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilos do carrossel */
.slick-slide {
  padding: 0 8px;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  color: #213365;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #eb594c;
  opacity: 1;
}

.slick-prev,
.slick-next {
  display: none !important;
} 